certifi==2022.12.7
chardet==3.0.4
Django==1.11.11
django-cors-headers==2.2.0
hashids==1.2.0
hprose==1.4.3
idna==2.6
optionaldict==0.1.1
pycryptodome==3.5.1
PyMySQL==0.8.0
python-alipay-sdk==1.6.0
python-dateutil==2.7.0
pytz==2018.3
redis==2.10.6
requests==2.18.4
six==1.11.0
tornado==4.5.3
urllib3==1.22
wechatpy==1.6.0
xmltodict==0.11.0
